*{
    margin: 0%;
    padding: 0%;
}
h1{
    margin-top: 50px;
    text-align: center;
    padding-bottom: 40px;
}

.text-lorem{
    text-align: center;
    padding-bottom: 40px;
}
.main{
    display: flex;
    
    margin: auto;
    width: 100%;
}
.main .fix-li{
    width: 20%;
    padding: 15px;
}
img{
    width: 100%;
    margin-bottom: 30px;
}
.fix-ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
.main .fix-li h2{
    margin-bottom: 15px;
}
p{
    margin-bottom: 15px;
}
.fix-read-more{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 50px;   
    border: 1px solid black;
    transition: 0.3s backgroud-color;
    transition: 0.3s color;
}


.fix-read-more:hover{
    background-color: rgb(91, 88, 82);
    
}

.fix-read-more:hover a{
    color: azure;
}
